numpy==2.2.4
pandas==2.2.3
tqdm==4.67.1
accelerate==1.6.0
scipy==1.15.2
datasets==3.5.0
tokenizers==0.21.1
transformers==4.50.3
peft==0.15.1
torch==2.6.0
torchvision==0.21.0
evaluate==0.4.3
rich==14.0.0
trl==0.15.2
bitsandbytes==0.45.4
omegaconf==2.3.0
python-dotenv==1.1.0
pydantic==2.11.2
unsloth==2025.3.19
mlflow==2.21.3
openai==1.70.0
liger_kernel==0.5.6
maturin==1.8.3
hf-xet==1.0.3
